html {
    height: 100%;
    width: 100%;
}
body {
    height: calc(100% - 8px);
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
#sidebar {
    position: relative;
    width: calc(20% - 8px);
    height: calc(100% - 8px);
    border: 1px solid #ccc;
}
#container {
    position: relative;
    flex-grow: 1;
    height: calc(100% - 8px);
    border: 1px solid #ccc;
    margin-right: 16px;
}